{% extends 'home.html' %}

{% block content %}

<!--    <div class="jumbotron">-->

<!--        {% if num %}-->
<!--            {% for i in range(num) %}-->
<!--                <div class="card text-white bg-primary mb-3" style="max-width: 28rem;">-->
<!--                    <div class="card-header">{{i}}</div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">{{i}}</h5>-->
<!--                            <p class="card-text">{{i}}</p>-->
<!--                        </div>-->
<!--                </div>-->
<!--            {% endfor %}-->

<!--        {% endif %}-->

<!--    </div>-->
    <h1>sucess</h1>


{% endblock %}