<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My report</title>
</head>
<body>
    
    <label for="a"> a mark out of 100 :</label>
    <meter id="a" value="{{di['amark']/100}}" max="1">{{di['amark']/100}}%</meter>

    <br>
    <label for="b"> b mark out of 100 :</label>
    <meter id="b" value="{{di['bmark']/100}}" max="1">{{di['bmark']}}</meter>

    <br>
    <label for="c"> c mark out of 100 :</label>
    <meter id="c" value="{{di['cmark']/100}}" max="1">{{di['cmark']}}</meter>

</body>
</html>