{% extends 'home.html' %}

{% block content %}

<!--    <div class="card text-white bg-primary mb-3" style="background-color:black;position: relative;float: right;padding-right: 200px ; width: 15cm; radius: 4px;">-->
<!--        <form  action="{{url_for('blogs')}}" method="post" style="width: 10cm;">-->
<!--        <input name="declared_first" value="write your name" style="width:15cm;" />-->
<!--            <br>-->
<!--            <br>-->

<!--            <textarea name="declared_second" value="write your blog here" style="width:15cm;height:7cm;"></textarea>-->
<!--            <br>-->
<!--            <input type="button" value="click to post" style="width:5cm;">-->
<!--        </form>-->
<!--    </div>-->

<form action="#" method="post">
    <input type="text" value="some">
    <br>
    <input type="submit" value="submit">
</form>

{% endblock %}