<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    {% for i in var %}-->
<!--        {{i}}-->

<!--    {% endfor %}-->
<h1>{{val}}</h1>

self.name,self.date,self.vlog,self.about,self.social
<form action="#" method="post">
<textarea name="name">{{val.name}}</textarea>
<textarea name="date">{{val.date}}</textarea>
<textarea name="vlog" style="width:10cm;height:10cm;">{{val.vlog}}</textarea>
<textarea name="about" style="width:10cm;height:10cm;">{{val.about}}</textarea>
    <textarea name="social">{{val.social}}</textarea>
    <br>
    <input type="submit" value="enter to submit">
</form>


</body>
</html>